/* Font

OSWALD

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

PLAYFAIR

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



MANROPE

.manrope-<uniquifier> {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

CAVEAT

.caveat-<uniquifier> {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


*/

/* MAIN */

html {
  scroll-behavior: smooth;
}

.section-title {
  max-width: 260px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  text-align: center;
}
.section-title-left {
  text-align: left;

  font-family: Playfair Display;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #676767;
}
.section-title-right {
  text-align: right;
  font-family: Caveat;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #3f7b83;
  margin-top: -30px;
}

.content-button {
  margin-top: 50px;
  width: 385px;

  /* position: relative; */
  display: flex;
  width: 100%;
  align-items: center;
}
.content-button-inner {
  box-shadow: 0px 20px 60px 0px #ff7b7c9e;

  max-width: 385px;
  border-radius: 20px;
  width: 100%;
  height: 100px;

  background: radial-gradient(
    88.67% 413.11% at 50% 50%,
    #ff9497 0%,
    #ff7a7b 100%
  );

  text-transform: uppercase;

  font-family: Oswald;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-align: center;

  color: #ffffff;

  border-bottom: 10px solid #f16364;

  transition: all 0.2s linear;
}

.content-button-inner:hover {
  background: #f16364;
}
.content-button-sticker {
  width: 150px;
  height: 150px;

  /* position: absolute; */
  /* top: -24px; */
  /* left: 317px; */
  margin-left: -70px;
}

/* END MAIN */

body {
  background-color: #ffffff;
}

/* HEADER */
.header {
  background-image: url(img/header.png);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-social {
  position: absolute;

  top: 50%;
  transform: translate(0, -50%);

  left: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.header-social-circle {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;

  background-color: #ffffff;
  border: 1px dashed grey;
  border-radius: 50%;

  transition: all 0.1s ease;
}

.header-social-circle:hover {
  background-color: grey;
}

.header-container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 90px;
}
.header-images {
  display: flex;
  gap: 20px;
}

.header-image {
  height: 146px;
  width: 320px;
}

.header-content {
  margin-top: 115px;
}
.header-content-title {
  font-family: Playfair Display;
  font-size: 50px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: uppercase;
  color: #676767;
}
.header-content-text {
  font-family: Manrope;
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: 0.04em;
  text-align: left;

  color: #676767;

  margin-top: 30px;
}

.header-content-arrow-bottom {
  width: 190px;
  height: 190px;
  margin: 0 auto;
  align-items: center;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  background-image: url(icons/bg-gortai.svg);
}
.header-content-arrow-bottom-inner {
  padding: 30px 30px;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.header-content-arrow-bottom-inner:hover {
  background: #676767;
}
/*END HEADER */

/* IDENTIFY */

.identify {
  max-width: 1500px;
  padding: 150px 12px;
  margin: 0 auto;
}

.identify-content {
  background-image: url(img/identify.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding-top: 90px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.identify-content-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.identify-content-card {
  display: flex;
  align-items: center;
}
.identify-content-card-elipse {
  width: 69px;
  height: 69px;
  z-index: 3;
}
.identify-content-card-text {
  max-width: 383px;
  width: 100%;

  background-color: #f7f7f7;

  padding: 27px 20px 33px 36px;

  border-radius: 30px;
}
.identify-content-card-text-title {
  font-family: Playfair Display;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-align: left;
  color: #676767;

  text-transform: uppercase;
}
.identify-content-card-text-content {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;

  color: #676767;
}

/* END IDENTIFY */

/* This course */

.this-course {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 12px;
}

.this-course-cards {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 60px;
}
.this-course-cards-row {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.this-course-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  max-width: 340px;
}
.this-course-card-main-img {
  width: 100%;
}
.this-course-card-suc-img {
  width: 77px;
  height: 77px;

  margin-top: -38px;
}
.this-course-card-title {
  font-family: Playfair Display;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.02em;
  background: linear-gradient(97.5deg, #676767 44.18%, #cdcdcd 117.79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  padding-top: 10px;
  padding-bottom: 20px;

  /* height: 80px; */

  padding-bottom: 50px;
}
.this-course-card-text {
  border-radius: 30px;
  padding: 26px 10px;
  width: 336px;
  align-items: center;
  background: radial-gradient(
    65.48% 214.64% at 50% 50%,
    #3f7b83 0%,
    #8cc4b9 100%
  );
  color: #ffffff;
  font-family: Playfair Display;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-align: center;
}

/* END this course */

/* IfYou */

.ifyou {
  background-image: url(img/if-you.png);
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  height: 830px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ifyou-container {
  max-width: 1500px;
  margin: 0 auto;

  display: flex;
  padding-top: 200px;
}

.pust {
  width: 44%;
}

.ifyou-content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.ifyou-content-title {
  font-family: Playfair Display;
  font-size: 60px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.ifyou-content-text {
  font-family: Manrope;
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 30px;
  color: #ffffff;
}
.ifyou-content-un {
  font-family: Playfair Display;
  font-size: 25px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #ffffff;
  padding: 0 30px;
  background: radial-gradient(
      65.48% 214.64% at 50% 50%,
      #65abb5 0%,
      #8cc4b9 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border: 1px solid;
  border-image-source: linear-gradient(
    90.55deg,
    #ebf5f5 0.48%,
    rgba(235, 245, 245, 0) 93.72%
  );

  max-width: 509px;

  border-radius: 60px;

  margin-top: 40px;
}


/* Week Card */

.week {
  background-image: url(img/week.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 130px;
}
.week-container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}


.week-card-row{
  display: flex;
  justify-content: space-between;
}

.week-header {
  padding-top: 20px;
  padding-bottom: 70px;
}
.week-header-text {
  font-family: Playfair Display;
font-size: 40px;
font-weight: 600;
line-height: 55px;
letter-spacing: 0.02em;
text-align: center;
color: #676767;
}

.week-cards {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-bottom: 50px;
}
.week-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.week-card-main-img {
  width: 154px;
  height: 154px;
}

.week-card-second-img{
  width: 46px;
  height: 46px;
  margin-top: -25px;

}
.week-card-text {
  font-family: Manrope;
font-size: 20px;
font-weight: 400;
line-height: 25px;
text-align: center;
color: #676767;
padding-top: 10px;

max-width: 310px;
}